{% extends 'transport/base.html' %}
{% block content %}
<html>

<head>
    <title>Lista Obsugi codzienniej</title>
</head>

<body>
    <div class="page-header">
        <a href="{% url 'daily_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        dodatkowe zgłoszenie awari
    </div>

    <div>
        <table border="2">
            <th>Awaria </th>
            <th>Nazwa </th>
            <th>Działa </th>


            {% for daily in dailys %}
            <div>
                <tr>
                    <td><img src="../media/NO.png" width="30" height="30"></p>
                    </td>
                    <td>{{ daily.daily_date }}</td>
                    <td>{{ daily.daily_sysid }}</td>
                    <td><img src="../media/OK.png" width="30" height="30"></p>
                    </td>
            </div>
            </tr>
            {% endfor %}
        </table>
    </div>
    
</body>

</html>
{% endblock %}