{% extends 'transport/base.html' %}
{% block content %}

    <h2>Nowy koszt</h2>
    <form enctype="multipart/form-data" method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>

{% endblock %}

