{% extends 'transport/base.html' %}
{% block content %}
<html>
    <head>
        <title>Lista Kosztw</title>
    </head>
    <body>
        <div class="page-header">
            <a href="{% url 'cost_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        </div>
        
        <div><table border="2">
            <th>Data </th>
            <th>rejestracja </th>
            <th>Kwota </th>
            <th>Kierowca </th>
            <th>typ </th>
            <th>Waluta </th>

            {% for cost in costs %}
            <div><tr>
                <td>{{ cost.cost_date }}</td>
                <td><a href="{% url 'cost_detail' pk=cost.pk %}">{{ cost.cost_registration }}</a></td>
                <td>{{ cost.cost_amont }}</td>
                <td>{{ cost.cost_username }}</td>
                <td>{{ cost.cost_type }}</td>
                <td>{{ cost.cost_currency }}</td>
            </div></tr>
        {% endfor %}
        </div>


    </body>
</html>
{% endblock %}
