{% extends 'transport/base.html' %}
{% block content %}
<div class="post">
    <div>
        <table border="2">

            <tr>
                <td>Data</td>
                <td> {{ cost.cost_date }}</td>
            <tr>
                <td>Rejestracja</td>
                <td>{{ cost.cost_registration }}</td>
            <tr>
                <td>Kierowca</td>
                <td>{{ cost.cost_username }}</p>
            <tr>
                <td>Typ</td>
                <td>{{ cost.cost_type }}</p>     
            <tr>
                <td>Zalacznik</td>
                <td><img src="../../media/{{ cost.cost_Main_Img }}" width="150" height="200"></p>
            <tr>
                <td>Czy rozliczone</td>
                <td>{{ cost.cost_status }}</p>     
            <tr>

   {% endblock %}

    </div>
    </table>