* {
margin: 5px;
box-sizing: border-box;
font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen,
  ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial,
  sans-serif;
font-size: 16px;
}


body {
    font: 16px Verdana;
    line-height: 1.6;
    background: #dfdeed;
}

h1 a, h2 a {
    color: #C25100;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen,
    ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial,
    sans-serif;
}

table {
    width: 100%;
    background: #cde;
    font-family: sans-serif;
    font-size: 14px;
    border: 1px solid #cde;
    padding: 2px;
    border-spacing: 0 1px;
    text-align: left;
  }
  tr:nth-child(odd) td {
    background: #fff;
  }
  tr:nth-child(even) td {
    background: #eee;
  }
  
  th {
    background: #cde;
    padding: 5px;
  }
  td {
    padding: 5px;
    
  }

  label {
    float: left;
    clear: left;
    width: 200px;
    text-align: left;
  }

  input {
    background-color: #ffffff
  }