{% extends 'transport/base.html' %}

{% block content %}
        <div class="start">
            <h2><a href="{% url 'fuel_list' %}">{{fueling}}</a></h2>
            <h2><a href="{% url 'work_list' %}">{{work}}</a></h2>
            <h2><a href="{% url 'cost_list' %}">{{cost}}</a></h2>
            <h2><a href="{% url 'daily_list' %}">{{daily}}</a></h2>
        </div>
{% endblock %}

