{% extends 'transport/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
Hi {{ user.username }}!

<h2><a href="{% url 'transport' %}">Transport</h2>
<h2><a href="admin/">Admin</a></h2>
<h2><a href="rosetta/">Rosetta</a></h2>

<p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}