{% extends 'transport/base.html' %}
{% block content %}
<html>
    <head>
        <title>Lista Tankowania</title>
    </head>
    <body>
        <div class="page-header">
            <a href="{% url 'fuel_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        </div>
        
        <div><table border="2">
            <th>Data </th>
            <th>rejestracja </th>
            <th>losc litrów </th>
            <th>Kierowca </th>
            <th>typ </th>
            <th>Drogomierz </th>

            {% for fuel in fuels %}
            <div><tr>
                <td>{{ fuel.fuel_date }}</td>
                    <td><a href="{% url 'fuel_detail' pk=fuel.pk %}">{{ fuel.fuel_registration }}</a></td>
                <td>{{ fuel.fuel_amont }}</td>
                <td>{{ fuel.fuel_username }}</td>
                <td>{{ fuel.fuel_type }}</td>
                <td>{{ fuel.fuel_odometr }}</td>
            </div></tr>
        {% endfor %}
        </div>


    </body>
</html>
{% endblock %}
