{% extends 'transport/base.html' %}
{% block content %}
<div class="post">
    <div>
        <table border="2">

            <tr>
                <td>Data</td>
                <td> {{ post.fuel_date }}</td>
            <tr>
                <td>Rejestracja</td>
                <td>{{ post.fuel_registration }}</td>
            <tr>
                <td>Kierowca</td>
                <td>{{ post.fuel_username }}</p>
            <tr>
                <td>Ilość litrów</td>
                <td>{{ post.fuel_amont }}</p>
            <tr>
                <td>Licznik</td>
                <td>{{ post.fuel_odometr }}</p>
            <tr>
                <td>Lokalizacja</td>
                <td>{{ post.fuel_location }}</p>
            <tr>
                <td>Typ</td>
                <td>{{ post.fuel_type }}</p>

   {% endblock %}

    </div>
    </table>