{% extends 'transport/base.html' %}
{% block content %}
<div class="post">
    <div>
        <table border="2">

            <tr>
                <td>Data</td>
                <td> {{ post.work_date }}</td>
            <tr>
                <td>Rejestracja</td>
                <td>{{ post.work_registration }}</td>
            <tr>
                <td>Kierowca</td>
                <td>{{ post.work_username }}</p>
            <tr>
                <td>Licznik</td>
                <td>{{ post.work_odometr }}</p>
            <tr>
                <td>Lokalizacja</td>
                <td>{{ post.work_location }}</p>
            <tr>
                <td>Typ</td>
                <td>{{ post.work_type }}</p>

   {% endblock %}

    </div>
    </table>