{% extends 'transport/base.html' %}
{% block content %}
<html>
    <head>
        <title>Lista Pracy</title>
    </head>
    <body>
        <div class="page-header">
            <a href="{% url 'work_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        </div>
        
        <div><table border="2">
            <th>Data </th>
            <th>rejestracja </th>
            <th>lokalizacja </th>
            <th>Kierowca </th>
            <th>typ </th>
            <th>Drogomierz </th>

            {% for work in works %}
            <div><tr>
                <td>{{ work.work_date }}</td>
                    <td><a href="{% url 'work_detail' pk=work.pk %}">{{ work.work_registration }}</a></td>
                <td>{{ work.work_location }}</td>
                <td>{{ work.work_username }}</td>
                <td>{{ work.work_type }}</td>
                <td>{{ work.work_odometr }}</td>
            </div></tr>
        {% endfor %}
        </div>


    </body>
</html>
{% endblock %}
